<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>WaterBalance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">error</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container ion-padding">
    <h1>Página no encontrada</h1>
    <ion-img id="imagen" src="../../assets/404.jpg"></ion-img>
    <p>Lo sentimos {{ user_name }} estamos trabajando para solucionar el problema !</p>
    <ion-button routerLink="/home" expand="block">Volver a Menu</ion-button>
  </div>

</ion-content>
