#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
  }
  
  th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
    text-align: center;
  }
  
  td {
    text-align: center;
  }