<ion-content [fullscreen]="true" id="container">
  <div>
    <ion-card>
      <ion-card-title>
        <h1>WaterBalance</h1>
        <h3>Mantente hidratado</h3>
      </ion-card-title>

      <ion-card-content>
        <h3>Bienvenidos</h3>
      </ion-card-content>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" maxlength="8" minlength="3" [(ngModel)]="usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" maxlength="4" [(ngModel)]="password"></ion-input>
        </ion-item>

      </ion-card-content>

      <ion-button expand="full" (click)="login()">Ingresar</ion-button>
      
      <ion-item>
        <a href="">Crea tu cuenta gratis</a>
      </ion-item>

    </ion-card>
  </div>

</ion-content>
