<ion-header>
  <ion-toolbar>
    <ion-buttons slots="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>WaterBalance</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Consejos</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="container">
  <div>
    <ion-card>
      <ion-card-title>
        <h1>Consejos</h1>
      </ion-card-title>
      <ion-card-content>
        <ion-item>
          <img class="espacio"  alt="WaterBalance" src="../../assets/icon/consejo.jpg">
        </ion-item>
        <div>
          <ion-item>
            <p class="centrado">¡Lleva una botella de agua contigo a todas partes!</p>
          </ion-item>
          <ion-item>
            <p>Tener agua a mano te ayudará a beber con más frecuencia y mantenerte hidratado durante todo el día. Opta por una botella reutilizable para cuidar del medio ambiente</p>
          </ion-item>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por: Sebastián Corvalan</ion-title>
  </ion-toolbar>
</ion-footer>

